@charset "UTF-8";

table {
    margin: 0 auto;
    color: #414556;
    font-size: 13px;
    border-collapse: collapse;
}

caption {
	margin-top: 50px;
    border-top: 1px dotted slategray;
    border-bottom: 1px dotted slategray;
    padding: 6px 0;
    background-color: #80808030;
}

th,td {
  border-bottom: 1px dotted;
  border-right: 1px dotted;
  padding: 10px 0;
}

th {background-color: #80808030;}

td{
  border-right: none;
  padding-left: 15px;
}

#tbl_title{width: 400px;}
#tbl_content{width: 650px; height: 360px;}

 input[type=button] {
  width: 85px;
  height: 40px;
  background-color: #2171d4;
  border-radius: 100px;
  border: none;
  color: white;
  position: relative;
  opacity: 0.8;
  collspan: 4;
}

#remove{left: 582px;}
#modify{left: 592px;}

.buttons{border-bottom: none;}

input[type=button]:hover {
	opacity: 1;
	transition: 0.2s;
} 
input[type=button]:hover {
	opacity: 1;
	transition: 0.2s;
}